html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	background-image: url(assets/background.jpg);
	background-position: center;
}

#container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 560px;
	height: 530px;
	background: rgba(255,255,255,0.95);
	border-radius: 3px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
}

#main {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 386px;
	height: 500px;
}

.link {
	display: inline-block;
	margin: 12px;
	text-align: center;
	width: 100px;
	height: 100px;
	background: rgba(255,255,255,0.65); 
	border: 1px solid #e5e5e5;
	border-radius: 50px;
}

.link:hover, .link:active {
	background: rgba(255,255,255,0.45);
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.1);
	transition: all 0.2s ease 0s;
}

a:active, a:focus {
	outline: none;
}

a {
	display: block;
	height: 100%;
	color: #999;
	text-decoration: none;
	font-size: 32px;
	line-height: 100px;
}

a:hover, a:active {
	transition: all 0.2s ease 0s;
	color: #555;
	outline: none;
}
