/*@define-color notebook_tab_gradient_b shade (@theme_bg_color, 0.98);

GeditWindow .pane-separator,
GeditWindow .pane-separator:hover {
}

GeditPanel.title GtkLabel {
}

GeditPanel .toolbar {
    border-style: none;
    background-color: transparent;
}

GeditDocumentsPanel .view {
}

GeditDocumentsPanel .view:backdrop {
}

GeditWindow .notebook {
    padding: 1px;
    border-radius: 1px;
}

GeditPanel .notebook {
    padding: 3px;
    border-radius: 1px;
}

GeditPanel .notebook tab,
GeditWindow .notebook tab {
    border-radius: 3px;
}

GeditFloatingSlider .not-found {
    color: @error_fg_color;
    background-image: none;
    background-color: @error_bg_color;
}*/

GeditWindow .pane-separator, 
GeditWindow .pane-separator:hover {
    /*border-width: 0;
    border-style: solid;
    border-color: @borders;
    background-color: shade(@theme_bg_color, 0.95);
    color: @borders;*/
    /*border-width: 0;
    border-style: solid;
    border-color: @theme_bg_color;
    border-right-color: shade(@theme_bg_color, 0.95);
    border-left-color: shade(@sidebar_bg_color, 0.95);
    padding: 0;
    -GtkPaned-handle-size: 1;*/
    border-color: transparent;
    border-image: url("../assets/gedit-pane.svg") 32 1 / 32px 1px stretch;
}

GeditPanel.title GtkLabel {
    padding: 7px 0 6px 0;
}

GeditPanel .toolbar {
    border-style: none;
    background-color: transparent;
}

GeditDocumentsPanel .view {
    background-color: @sidebar_bg_color;

    color: @sidebar_fg_color;
    text-shadow: 0 1px alpha (white, 0.35);     
}

GeditDocumentsPanel .view:backdrop {
    background-color: shade(@sidebar_bg_color, 1.05);

    color: shade(@sidebar_fg_color, 1.5);
    text-shadow: 0 1px alpha (white, 0.2); 
}

GeditDocumentsPanel .view row:selected {
    background-image: -gtk-gradient (linear, left bottom, left top,
                                     from (shade(@sidebar_selected_bg_color, 1.1)),
                                     to (@sidebar_selected_bg_color));
    border-top-color: shade (@sidebar_selected_bg_color, 0.9);
    border-bottom-color: alpha (white, 0.3);
    border-style: solid;
    border-width: 1px 0 1px 0;
    color: @sidebar_fg_color;
    text-shadow: 0 1px alpha (white, 0.2);
    font-weight: bold; 
}

GeditDocumentsPanel .view row:selected:backdrop {
    background-image: -gtk-gradient (linear, left bottom, left top,
                                     from (shade(@sidebar_selected_bg_color, 1.25)),
                                     to (shade(@sidebar_selected_bg_color, 1.15)));
    border-top-color: shade(@sidebar_selected_bg_color, 1.05);
    border-bottom-color: alpha (white, 0.3);
    border-style: solid;
    border-width: 1px 0 1px 0;
    color: shade(@sidebar_fg_color, 1.5);
    text-shadow: 0 1px alpha (white, 0.2);
    font-weight: bold; 
}


GeditFloatingSlider .not-found {
    color: @error_fg_color;
    background-image: none;
    background-color: @error_bg_color;
}

